<doctype html!>
<html>
    <head>
        <title>Players list</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
    </head>
    <body ng-app="app">
        <div class="container">            
            <div ng-controller="ListController" context-menu="mainMenu">
                <h1>Players list test</h1>
                <div class="list-group">
                    <a class="list-group-item" ng-repeat="player in playersList" context-menu="listItemMenu">
                        <div class="row">
                            <div class="col-md-6">
                                <h4>
                                   {{player.name}}
                                   <span class="label" ng-class="player.score <= 200 ? 'label-danger' : 'label-success'">{{player.score <= 200 ? 'BAD' : 'GOOD'}}</span> 
                                </h4>
                                <p>Score: {{player.score}} </p>
                            </div>
                            <div class="col-md-6">
                                <button context-menu="{items: [{text: 'Test action'}]}" class="btn btn-link btn pull-right" ng-class="player.name == 'Player_1' ? 'disabled':''" ng-click="removePlayer($index)">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <ng-include src="'app/views/contextMenu.html'"></ng-include>
        </div>        
        <script src="angular/angular.js"></script>        
        <script src="app/app.js"></script>
        <!--Controllers-->
        <script src="app/controllers/ListController.js"></script>
        <script src="app/controllers/ContextMenuController.js"></script>
        <!--Directives-->
        <script src="app/directives/contextMenu.js"></script>
    </body>
</html>