<div class="well">
    <div class="media">
        <div class="media-left">
            <img class="media-object img-circle" src="https://api.adorable.io/avatars/100/dunno{{item}}">
        </div>
        <div class="media-body">
            <h3 class="media-heading">User {{item}}</h3>
            <p>Some information goes here...</p>
        </div>
        <div class="media-right">
            <div class="btn-group-vertical">
                <button class="btn btn-default">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span> 
                    See full profile
                </button>
                <button class="btn btn-default">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 
                    Add to friends
                </button>
                <button class="btn btn-default">
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> 
                    Send message
                </button>
            </div>
        </div>
    </div>
</div>