<div class="well" context-menu="user.group == 'admin' ? adminContextMenu : userContextMenu">
    <div class="media">
        <div class="media-left">
            <img class="media-object img-circle" src="https://api.adorable.io/avatars/100/{{user.name}}">
        </div>
        <div class="media-body">
            <h3 class="media-heading">
                {{user.name}} <span ng-show="user.online" class="label label-info">Online</span>
            </h3>
            <p>Group: 
                <span ng-show="user.group == 'admin'" class="label label-success">Admin</span>
                <span ng-show="user.group == 'user'" class="label label-primary">User</span>                
            </p>
        </div>
        <div class="media-right">
            <div class="btn-group-vertical">
                <button class="btn btn-default">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span> 
                    See full profile
                </button>
                <button class="btn btn-default">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 
                    Add to friends
                </button>
                <button class="btn btn-default">
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> 
                    Send message
                </button>
            </div>
        </div>
    </div>
</div>